/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Img */
#logo{
    margin: 3px 13px;
}
#logo img{
    /* border: 2px solid red; */
    width: 80px;
    margin: 3px 4px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    align-items: center;
    font-family: "Kanit", sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    display: block;
    padding: 5px 23px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}

/* Section: Home */
#home{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 200px;
    height: 515px;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 580px;  
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    font-family: "Bree Serif", serif;
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

/* services-container */
#services{
    margin: 35px;
    display: flex;    
}
#services .box{
    border: 2px solid black;
    padding: 10px;
    margin: 3px 6px;
    background-color: #e9e7e7;
    border-radius: 30px;
    margin-bottom: 20px;
}
#services .box img{
    height: 120px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: "Bree Serif", serif;
}

/* client section */
#client-section{
    position: relative;
    height: 370px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    align-items: center;
    justify-content: center;
}
#client .client-item{
    padding: 20px;
    margin: 5px 25px;
}
#client img{
    width: 160px;
}

/* Contact Us */
#contact{
    position: relative;
    height: 620px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../contact-us.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#contact-box{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}
#contact-box input, textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-family: "Bree Serif", serif;
    font-size: 1.3rem;
}

/* footer */
footer .center{
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

/* utility classes */
.h-primary{
    font-family: "Bree Serif", serif;
    font-size: 3rem;
    padding: 15px;
}
.h-secondary{
    font-family: "Bree Serif", serif;
    font-size: 1.8rem;
    padding: 15px;
}
.center{
    text-align: center;
}
.btn{
    font-family: "Bree Serif", serif;
    padding: 8px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    font-size: 1.5rem;
}

/* Media Queries */
@media screen and (max-width:1060px) {
    /* Header Section */
    #navbar{
        flex-direction: column;
    }
    #navbar ul li a{
        font-size: 1.2rem;
        padding: 0px 8px;
        margin-bottom: 8px;
    }
    #logo img{
        width: 60px;
    }
    
    /* Home Section */
    #home{
        height: 345px;
        padding: 0px 70px;
    }
    #home::before{
        height: 450px;
    }
    #home .h-primary{
        font-size: 1.8rem;
    }
    #home p{
        font-size: 0.8rem;
    }

    /* Services Section */
    #services{
        flex-direction: column;
        margin-top: 10px;
    }
    #services .box{
        margin: 5px 0px;
        padding: 5px;
    }
    #services p{
        font-size: 15px;
    }

    /* Utility element */
    .btn{
        padding: 1px 8px;
        font-size: 1rem;
    }
    .center{
        font-size: 25px;
    }

    /* Client Section */
    #client-section{
        height: 275px;
    }
    #client{
        flex-wrap: wrap;
        margin-top: 0px;
    }
    #client .client-item{
        margin: 10px;
        padding: 0;
    }
    #client img{
        width: 95px;
    }

    /* Contact Section */
    #contact form{
        width: 80%;
    }

} 
    
